<h1>Contenu du message</h1>

<h5>Prénom</h5>
<p>{{firstName }}</p>
<h5>Nom</h5>
<p>{{name}}</p>
<h5>Email</h5>
<p>{{mail}}</p>
<h5>Sujet du mail</h5>
<p>{{sujet}}</p>
<h5>Contenu</h5>
<p>{{contenu}}</p>
